body{

    background-color: black;
    color: white;
}
.image{
    border-radius: 70px;
}
.navbar{
    background-color: white;
    color: black;
}
.mark{
    border: 1px solid black;
    color: white;
    background-color: white;
}
.text{
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
  border: 1px solid white;

}
